body {

    background:#e0b28d;
    < ! -- background rgb(252, 239, 168)-->
    font-family:'Courier New', Courier, monospace;
}
.assignments{
    display:flex;
    flex-wrap: wrap;
}
.assignment{
    width: 30%;
    padding: 10px;
    background:#BF895A ;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 5px;

    
}
.assignment img {
    width: 200px;
    border: 5px solid #F2B705;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: auto;
}
.assignment img:hover
{
    border:5px solid #038C7F;
}
h1{
    text-align: center;
    text-decoration:overline ;
    color: #038C7F;
    
}
h2{
    text-align:center;
}

a {
    text-decoration: none;
   color: #F2B705;
}

a:hover{
    color: #038c7f;

}