body {
    background: rgb(252, 239, 168);
    font-family:'Courier New', Courier, monospace;
}
.assignment{
    display:flex;
    padding: 10px;
    background: rgb(241, 212, 113);
    margin: 10px;
    
}
.assignment img {
    width: 200px;
    padding: 10px;
}
h1{
    text-align: center;
    text-decoration:overline ;
    color:black;
}